<ul class="nav nav-pills">
  <li role="presentation" class="<%= @page === 'home' ? 'active' : '' %>">
    <a href="/">Home</a>
  </li>
  <li role="presentation" class="<%= @page === 'new-secret' ? 'active' : '' %>">
    <a href="/secrets/new">New Secret</a>
  </li>
</ul>
