<script type="text/javascript">
  setTimeout(delayedRedirect, <%= @secret[0].time * 1000 %>);

  function delayedRedirect(){
    window.location = "/";
  }
</script>

<h2>Secret</h2>
<p class="lead"><%= @secret[0].title %></p>
<p class="text-left"><%= @secret[0].text %></p>
<p class="text-right"> Remaining Whispers: <%= @secret[0].whispers %></p>
